
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in/
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.dll
.vs
*.pdb
.vs/LINQFundamentals/v14/.suo
LINQFundamentals/bin/Debug/LINQFundamentals.dll
LINQFundamentals/bin/Debug/LINQFundamentals.pdb
LINQFundamentals/obj/Debug/LINQFundamentals.csproj.FileListAbsolute.txt
LINQFundamentals/obj/Debug/LINQFundamentals.csprojResolveAssemblyReference.cache
LINQFundamentals/obj/Debug/LINQFundamentals.dll
LINQFundamentals/obj/Debug/LINQFundamentals.pdb
LINQFundamentalsTests/bin/Debug/LINQFundamentals.dll
LINQFundamentalsTests/bin/Debug/LINQFundamentals.pdb
LINQFundamentalsTests/bin/Debug/LINQFundamentalsTests.dll
LINQFundamentalsTests/bin/Debug/LINQFundamentalsTests.pdb
LINQFundamentalsTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LINQFundamentalsTests/obj/Debug/LINQFundamentalsTests.csprojResolveAssemblyReference.cache
LINQFundamentalsTests/obj/Debug/LINQFundamentalsTests.dll
LINQFundamentalsTests/obj/Debug/LINQFundamentalsTests.pdb
